.containerForArmySelection>* {
    margin-left: 5px;
}

.list {
    text-align: start;
    width: fit-content;
    height: 50px;
}

.deleteBtn {
    border-radius: 25px;
    border: 1px solid #dadada;
    border-radius: 25px;
    cursor: pointer;
    background-color: #3c3c3c;
    color: #dadada;
    padding: 0 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 50px;
    margin: 0.1rem 0.5rem;
}

.deleteBtn:hover {
    background-color: #5e5e5e;
}

.unit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
    
}

.containerForArmySelection {
    overflow-y: scroll;
    border: 1px solid black;
    margin: 15px 0;
    height: 43rem;
    text-align: start;
}
.containerForArmySelection>h2 {
    display: flex;
    margin: 0;
    background-color: #242424;
    padding: 15px;
    text-align: center;
    justify-content: space-around;
}
.saveBtn {
    border: 1px solid black;
    border-radius: 25px;
    background-color: #49d43c71;
    color: #dadada;
    padding: 0.5rem 1rem;
    font-size: medium;
    text-align: center;
}

.saveBtn:hover {
    background-color: #5e5e5e;
    color: #e2e2e2;
    transition: 0.1s;
}

.saveBtn:active {
    background-color: #ffffff;
    color: #000000;
}

.checkBox {
    padding-left: 5px;
    display: flex;
    gap: 2px;
    font-size: 0.9rem;
    align-items: center;
    position: relative;
    padding-bottom: 10px;
}

.checkBox input[type="checkbox"] {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 2rem;
    padding: 0.1rem;
    border: 0.25rem solid #49d43c71;
    border-radius: 0.5rem;
}
.checkBox input[type="checkbox"]::before {
    content: "";
    width: 1rem;
    height: 1rem;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    transform: scale(0);
}
.checkBox input[type="checkbox"]:checked::before {
    transform: scale(1);
}
.checkBox input[type="checkbox"]:hover {
    background-color: #5e5e5e;
}

.enhanceDes, .showSubFactionRule, .showFactionRule {
    display: none;
}
.enhanceDes a, .showSubFactionRule a, .showFactionRule a {
    color: #ffffff;
    font-weight: 700;
    cursor: inherit;
}
.enhanceName, .subFactionName, .factionRule {
    cursor: help;
}
.enhanceName:hover + .enhanceDes {
    display: block;
    position: absolute;
    font-size: 0.8rem;
    bottom: 1rem;
    background-color: #3c3c3c;
    color: #dadada;
    border-radius: 25px;
    border: 2px solid #49d43c ;
    padding: 5px 8px;
    text-align: start;
}

.subFactionName:hover + .showSubFactionRule {
    display: block;
    position: absolute;
    font-size: 0.8rem;
    background-color: #3c3c3c;
    color: #dadada;
    border-radius: 25px;
    border: 2px solid #49d43c;
    padding: 5px 8px;
    text-align: start;
    right: 10px;
    z-index: 1100;
    width: 80%;
}
h2:has(.factionRule:hover) + .showFactionRule, .showFactionRule:hover {    
    display: block;
    position: absolute;
    font-size: 0.8rem;
    border-radius: 25px;
    padding: 5px 8px;
    text-align: start;
    top: 225px;
    margin-left: 30px;
    right: 200px;
    z-index: 1100;
    background-color: #3c3c3c;
    color: #dadada;
    border: 2px solid #49d43c;
}

.showFactionRule:active{
    display: none;
}

.factionRule{
    border-bottom: 2px dotted #22dd2a6e;
    transition: 0.5s;
}
.factionRule:hover{
    border-color: rgb(255, 255, 255);
    transition: 0.5s;
}

.enhanceRules {
    font-size: 0.9rem;
    text-align: start;
    padding-left: 15px;
}
