
.showUnitRules {
    overflow-y: scroll;
    border: 1px solid black;
    margin: 15px 0;
}
.showUnitRules h2 {
    background-color: #242424;
    margin: 0;
    padding: 15px;
}

.containerForRules {
    margin-left: 3px;
    display: grid;
    gap: 3px;
    grid-template-columns: 2fr 1fr;
}
.stats {
    display: flex;
    gap: 20px;
    padding-left: 10%;
    background-color: #555555;
    font-size: 1.25rem;
}   
.stats div {
    display: flex;
    flex-direction: column;
}
.inVuln {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: 10%;
    width: fit-content;
    padding: 0 5px;
    background-color: #555555;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 15px;
    font-size: 1.15rem;
}

.table {
    width: 100%;
    background-color: black;
    text-align: center;
}

.weaponTitle {
    width: 60%;
}
.tableTitle {
    background-color: black;
    font-size: 1.1rem;
}
.abilityName {
    font-weight: bold;
    font-size: 1.1rem;
}
.abilityDes {
    font-size: 0.85rem;
}

.btn {
    border: 1px solid #dadada;
    border-radius: 25px;
    background-color: #3c3c3c;
    padding: 0.5rem;
    font-size: medium;
}

.btn:hover {
    background-color: #5e5e5e;
    color: #e2e2e2;
    transition: 0.1s;
}

.btn:active {
    background-color: #ffffff;
    color: #000000;
}

.leader {
    margin-top: 25px;
}