.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #49d43c;
}

.login h1 {
    margin: 10px;
    font-size: 3rem;
    color: #49d43c;
}
.login h2 {
    margin: 10px;
    font-size: 2rem;
    color: #49d43c;
}
.btn {
    border: 1px solid black;
    border-radius: 25px;
    background-color: #49d43c71;
    color: #dadada;
    padding: 0.5rem 1rem;
    font-size: medium;
    margin-bottom: 15px;
    text-align: center;
}

.btn:hover {
    background-color: #5e5e5e;
    color: #e2e2e2;
    transition: 0.1s;
}

.btn:active {
    background-color: #ffffff;
    color: #000000;
}

.inputs {
    padding: 5px 10px;
    border-radius: 15px;
}