.loginContainer {
    display: flex;
    background-color: #18221a;
    height: 100%;
    width: 70%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;
    margin: 0 auto;
    color: #49d43c;
    width: fit-content;
    background-color: #333333;
    border-radius: 5px;
    box-shadow: 5px 5px #49d43c7e;
}

.login h1 {
    margin: 0;
    font-size: 3rem;
    color: #49d43c;
}
.login h2 {
    font-size: 2rem;
    color: #49d43c;
}
.btn {
    margin-top: 5px;
    float: right;
}

.btnCreate, .btn {
    border: 1px solid rgb(201, 201, 201);
    border-radius: 25px;
    background-color: #49d43c71;
    color: #dadada;
    padding: 0.5rem 1rem;
    font-size: medium;
    margin-bottom: 15px;
}

.btn:hover, .btnCreate:hover {
    background-color: #5e5e5e;
    color: #e2e2e2;
    transition: 0.1s;
}

.btn:active, .btnCreate:active {
    background-color: #ffffff;
    color: #000000;
}

.inputs {
    padding: 5px 10px;
    border-radius: 15px;
}