.StratHov {
    border: 1px solid #dadada;
    cursor: help;
    background-color: #3c3c3c;
    padding: 5px 8px;
    border-radius: 25px;
    width: fit-content;
    font-weight: 700;
    font-size: 1.3rem;
}
.StratHov:hover {
    background-color: #5e5e5e;
    color: #e2e2e2;
    transition: 0.1s;
}
.stratagems {
    display: none;
    position: absolute;
    top: 100px;
    left: 25px;
    font-size: 0.8rem;
    background-color: #1d1d1d;
    color: #dadada;
    border-radius: 25px;
    border: 2px solid #49d43c;
    padding: 5px 8px;
    text-align: start;
    z-index: 1100;
    max-width: 90%;
}

.StratHov:active + .stratagems, .stratagems:hover {
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.stratagems:active {
    display: none;
}

.stratagem {
    border-radius: 25px;
    padding: 5px 8px;
    font-size: 1rem;
}

.stratagem a {
    color: white;
}