.ArmySelection {
    display: grid;
    grid-template-columns: 3fr 1.1fr;
    background-color: #3c3c3c;
    border: 1px solid white;
}

.containerForUnits {
    display: grid;
    grid-template-columns: 3fr 5fr;
    height: 45rem;
}