.showArmies {
    display: flex;
    flex-direction: column;
}

.singleArmy {
    justify-content: center;
    align-self: center;
    display: flex;
    border-radius: 25px;
    border: 1px black solid;
    width: fit-content;
    gap: 10px;
    padding: 15px 50px;
}
.btn {
    border: 1px solid black;
    border-radius: 25px;
    background-color: #49d43c71;
    color: #dadada;
    padding: 0.5rem 1rem;
    font-size: medium;
    margin-bottom: 15px;
    text-align: center;
}

.btn:hover {
    background-color: #5e5e5e;
    color: #e2e2e2;
    transition: 0.1s;
}

.btn:active {
    background-color: #ffffff;
    color: #000000;
}