.popupLeft {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(77, 77, 77, 0.418);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.popupLeftInner  {
    background-color: #d4d4d4;
    color: black;
    border-radius: 15px;
    padding: 24px 32px;
    max-width: 640px;
}

.popupLeftInner form{
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-size: 1.1rem;
}

.closeBtn {
    position: absolute;
    top: 100px;
    left: 100px;
    border: 1px solid black;
    border-radius: 25px;
    color: white;
    padding: 0.9rem 2rem;
    font-size: 2.3rem;
    background-color: #41c535e3;
}

.createBtn {
    border: 1px solid black;
    border-radius: 25px;
    color: black;
    padding: 0.5rem;
    font-size: medium;
}

.createBtn:hover {
    cursor: pointer;
}

.closeBtn:hover {
    cursor: pointer;
    background-color: #5e5e5e;
    color: #e2e2e2;
    transition: 0.1s;
}

.closeBtn:active, .createBtn:active {
    background-color: #ffffff;
    color: #000000;
}

.dropdown {
    padding: 8px 4px;
    border-radius: 5px;
    background-color: #49d43c71
}
.dropdown:hover,
.dropdown:focus {
    outline: none;
    border: 1px solid rgb(167, 166, 166);
}
.dropdown option {
    background-color: #49d43c71;
}

.Textarea {
    border-radius: 5px;
    text-align: center;
    background-color: white;
}

.Span {
    font-size: 0.8rem;
}

.bar {
    height: 1rem;
    background-color: #17b408
}


.popupRightInner {
    width: fit-content;
    font-size: 0.75rem;
    background-color: #d4d4d4;
    color: black;
    border-radius: 15px;
    padding: 24px 32px;
    max-width: 900px;
    margin-right: 20px;
}
.popupRightInner a {
    text-decoration: none;
    /* color: black; */
    font-weight: bold;
    pointer-events: none;
    cursor: default;
}

.popupRightInner>div {
    margin: 5px 0;
}
