.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(77, 77, 77, 0.418);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.popupLeft, .popupRight  {
    background-color: #d4d4d4;
    color: black;
    border-radius: 15px;
    padding: 24px 32px;
    max-width: 640px;
}

.popupLeft form, .popupRight form {
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-size: 1.1rem;
}

.closeBtn {
    position: absolute;
    top: 150px;
    right: 150px;
    border: 1px solid black;
    border-radius: 25px;
    color: white;
    padding: 0.5rem;
    font-size: medium;
    background-color: #e460b881
}

.closeBtn:hover, .createBtn:hover {
    background-color: #5e5e5e;
    color: #e2e2e2;
    transition: 0.1s;
}

.closeBtn:active, .createBtn:active {
    background-color: #ffffff;
    color: #000000;
}

.dropdown {
    padding: 8px 4px;
    border-radius: 5px;
    background-color: #e460b881
}
.dropdown:hover,
.dropdown:focus {
    outline: none;
    border: 1px solid rgb(167, 166, 166);
}
.dropdown option {
    background-color: #e2e2e2;
}

.Textarea {
    border-radius: 5px;
    text-align: center;
    background-color: white;
}

.Span {
    font-size: 0.8rem;
}

.bar {
    height: 1rem;
    background-color: #dd49acce
}

.createBtn {
    border: 1px solid black;
    border-radius: 25px;
    background-color: #e460b881;
    color: black;
    padding: 0.5rem;
    font-size: medium;
}